body {
  background-image: url("mapbackground.jpg");
  background-color: rgb(27, 10, 46);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  


}

main {
  display:flex;
  flex-direction: column;
  
}
.title {
  
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 0;
  background-color: rgb(166, 35, 164);
  color:black;
  border-radius: 25px;
  

  

}

h1{
  font-size:5vh;
  margin-bottom: 0;
}

iframe{
  border-color:black
}
.buttons{
  display: flex;
  margin: 0 0;
  justify-content:space-around;
  background-color: rgb(72, 72, 184);
  color: black;
  border-radius: 25px;
  
  

}

.display{
  
}
.labels {
  background-color: rgb(161, 35, 161);
  margin: 1% 0;
  padding: 1px;
  border-radius: 25px;

}

@media only screen and (max-width: 800px) {
  body{
    background-image: none;
    background-color: rgb(24, 8, 41);
    height: 100%;
  }
  .title {
    align-self: center;
    width: auto;
  }
  .buttons {
    align-self: center;
    width: auto;
  }
  iframe {
    align-self: center;
    width: 100%;
    
  }

}