body {
  background-image: url("mapbackground.jpg");
  background-color: rgb(27, 10, 46);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  


}

main {
  display:flex;
  flex-direction: column;
  
}
.title {
  
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  background-color: rgb(166, 35, 164);
  color:black;
  border-radius: 25px;
  

  

}

h1{
  font-size:5vh;
  margin-bottom: 0;
}

iframe{
  border-color:black
}
.buttons{
  display: flex;
  margin-bottom: 4px;
  justify-content:space-around;
  background-color: rgb(72, 72, 184);
  color: black;
  border-radius: 25px;
  padding: 4px
  
  

}

.display{
  
}
.labels {
  background-color: rgb(161, 35, 161);
  padding-left: 10px;
  border-radius: 25px;

}

@media only screen and (max-width: 800px) {
  body{
    background-image: none;
    background-color: rgb(17, 20, 83);
    
  }
  .title {
    /* align-self: center; */
    width: auto;

  }
  .buttons {
    padding: 5px
  }
  iframe {
    /* align-self: center; */
    margin-top: 2px;
    width: 100%;
    height: 40vh
    
  }
  h1 {
    padding: 10px;
  }
  .labels {
    padding-left: 10px;
  }
}